	
		body{
			background-color: #e2e2e2;
		}
		.gallery{
			margin:30px 100px;
		
		}
		.gallery img{
			transition: 1s;
			padding: 10px;
			width: 250px;

		}
		.gallery img:hover{
			filter:  grayscale(100%);
			transform: scale(1.1);
		}
